<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title>PCA based Image interpolation</title> -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>


    <style>
    .slidecontainer {
    width: 100%;
    }

    .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }

    .slider:hover {
    opacity: 1;
    }

    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #337AB7;
    cursor: pointer;
    }

    .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #337AB7;
    cursor: pointer;
    }
      
    </style>

  </head>
  <title>CT Image generation using Reinforcement Learning</title>
  <body>
 <div class="container-fluid" style="background-color:  #303030">
     <div class="row">
         <!--<span class="border">-->
         <div class='col-6'>

             <div class='row mb-3'>
                 <div class='col' style="text-align:center; background-color:black;"><p style="color: white; font-weight:bold; vertical-align: center; font-size: 110%"> Sample Generation</p> </div>
             </div>

             <div class='row'>

                 <div class='col-3'>
<!--                      <div class='row'></div> -->
                     <div class="row">
                         <button type="button" class="btn btn-primary btn-block" onclick="generate()">Generate Samples</button>
                     </div>

                 </div>

                 <div class='col-3'>
                    <div class="row mb-3">
                        <img id="source" class="rounded mx-auto d-block" alt="..." width="180" height="180" style="width:180px height=180px">   
                    </div>
                 </div>

                 <div class='col-3'> 
                    <div class="row mb-3">
                        <img id="interpolated" class="rounded mx-auto d-block" alt="..." width="180" height="180" style="width:180px height=180px">
                    </div>
                 </div>

                 <div class='col-3'> 
                    <div class="row mb-3">
                        <img id="dest" class="rounded mx-auto d-block" alt="..." width="180" height="180" style="width:180px height=180px">
                    </div>
                 </div>
             </div>

             <div class="row mb-3">
                
                <div class='col-3'>
                  
                  <div class="row mb-3">

                     <div class="col">
                       <button type="button" class="btn btn-primary btn-block" id="dec_slider" onclick="decrement_slider()"><</button>
                     </div>

                     <div class="col">
                      <button type="button" class="btn btn-primary btn-block" id="inc_slider" onclick="increment_slider()">></button>
                     </div>
                  </div>

                </div>

                <div class="col-9">
                  
                  <div class="row mb-3">
                    <input type="range" min="0" max="100" value="0" class="slider" id="pca_slider" oninput="slider_response(this.value)">
                  </div>
                </div>

             </div>
             <!-- ENds -->

         </div>
         <!--</span>-->
         <div class='col-3'>
             
             <div class="row mb-3"> 
                <div class='col' style="text-align:center; background-color:black;"> <p style="color: white; font-weight:bold; vertical-align: center; font-size: 110%"> Sample Completion <p> </div>
             </div>

             <div class="row mb-3">

                 <div class="col-9">
                   <img id="source" class="rounded mx-auto d-block" alt="..." width="250" height="250" style="width:200px height=200px">
                 </div>

                 <div class="col-3">
                     
                     <div class="row mb-1"> 
                        <button type="button" class="btn btn-primary btn-block">Tissue</button>
                     </div>

                     <div class="row mb-3">
                       <button type="button" class="btn btn-primary btn-block">Pathology</button>
                     </div>
                     
                     <div class="row mb-6">
                       <button type="button" class="btn btn-primary btn-block">OK/Save</button>
                     </div>
                 </div>
             </div>
         </div>
         <div class='col-3'>
             <div class="row mb-1">
                <div class='col' style="text-align:center; background-color:black;"> <p style="color: white; font-weight:bold; vertical-align: center; font-size: 110%">Database Statistics</p>
                 </div>
             </div>
             <div class="row mb-1">Graphs</div>
         </div>
     </div>
     <!-- First Row done -->
<div class="row mb-1"> 
    <div class='col' style="text-align:center; background-color:black;"> <p style="color: white; font-weight:bold; vertical-align: center; font-size: 120%">Sample Neighborhood Enrichment</p>  
    </div>
</div>
     <div class="row mb-2">
         <div class='col-2'> 
            
            <div class="row mb-1">
                <div class="col-12" style="text-align:center; background-color:lightgray;">
                    <div class="row">
                        <div class="col"> <b>Select Instance</b> </div>
                        <div class="col">
                               <button type="button" id="prev_sample" class="btn btn-primary btn-block" onclick="select_prev_sample()"><b> < </b></button>
                             </div>

                             <div class="col">
                              <button type="button" id="next_sample" class="btn btn-primary btn-block" onclick="select_next_sample()"><b> > </b></button>
                             </div>     
                        </div>
                    </div>
            </div>

            <div class="row mb-3">

                <div class="col-6">
                    <button type="button" class="btn btn-success btn-block"><b>Accept</b> <input type="radio" name="Accept/Reject" value=0></button> </button>
                </div>
            
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-block"> <b>Reject</b> <input type="radio" name="Accept/Reject"  value=1> </button>        
                </div>

            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-success btn-block"><b>Torso</b> <input type="radio" name="Torso"  value=0></button>
                </div>
            
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-block"><b>Torso</b> <input type="radio" name="Torso" value=1> </button>        
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-success btn-block"> <b>Lung (L)</b> <input type="radio" name="Left Lung" value=0></button>
                </div>
            
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-block"><b>Lung (L)</b> <input type="radio" name="Left Lung"  value=1> </button>        
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-success btn-block"><b>Lung (R)</b> <input type="radio" name="Right Lung" value=0></button>
                </div>
            
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-block"><b>Lung (R)</b> <input type="radio" name="Right Lung" value=1> </button>       
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-success btn-block"><b>Spine</b> <input type="radio" name="Spine" value=0></button>
                </div>
            
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-block"><b>Spine</b> <input type="radio" name="Spine"  value=1></button>        
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <button type="button" class="btn btn-success btn-block"><b>Heart</b> <input type="radio" name="Heart" value=0></button>
                </div>
            
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-block"><b>Heart</b> <input type="radio" name="Heart" value=1></button>        
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-12">
                    <button type="button" class="btn btn-primary btn-block" onclick="gather_preferences()"> <b>Submit Preferences</b></button>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-12">
                    <button type="button" class="btn btn-primary btn-block" onclick="submit_final_pref_set()"> <b>Done</b></button>
                </div>
            </div>

         </div>
         <div class='col-10'>
             
             <div class="row mb-2">

                 <div class="col-3">
                     <img id="sample_1" class="rounded mx-auto d-block" alt="..." width="190" height="190" style="width:190px height=190px">
                 </div>

                 <div class="col-3">
                     <img id="sample_2" class="rounded mx-auto d-block" alt="..." width="190" height="190" style="width:190px height=190px">
                 </div>

                 <div class="col-3">
                      <img id="sample_3" class="rounded mx-auto d-block" alt="..." width="190" height="190" style="width:190px height=190px">
                 </div>

                 <div class="col-3">
                     <img id="sample_4" class="rounded mx-auto d-block" alt="..." width="190" height="190" style="width:190px height=190px">
                 </div>

             </div>

             <div class="row mb-2">

                 <div class="col-3">
                     <img id="sample_5" class="rounded mx-auto d-block" alt="..." width="190" height="190" style="width:190px height=190px">
                 </div>

                 <div class="col-3">
                     <img id="sample_6" class="rounded mx-auto d-block" alt="..." width="190" height="190" style="width:190px height=190px">
                 </div>

                 <div class="col-3">
                     <img id="sample_7" class="rounded mx-auto d-block" alt="..." width="190" height="190" style="width:190px height=190px">
                 </div>

                 <div class="col-3">
                     <img id="sample_8" class="rounded mx-auto d-block" alt="..." width="190" height="190" style="width:190px height=190px">
                 </div>

             </div>

         </div>
     </div>
 </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
  </body>

</html>