<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PCA based Image interpolation</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>

  </head>

  <body>
    
    <div class="container-fluid">
      <div class="row" height=300px>
        <div class="col-1" style="height: 300px"></div>

        <div class="col-3">
          <img id="source" class="rounded mx-auto d-block" alt="..." width="300" height="300" style="width:300px height=300px">
        </div>

        <div class="col-1" style="height: 100%"></div>

        <div class="col-3">
          <img id="interpolated" class="rounded mx-auto d-block" alt="..." width="300" height="300" style="width:300px height=300px">
        </div>

        <div class="col-1" style="height: 100%"></div>

        <div class="col-3">
          <img id="dest" class="rounded mx-auto d-block" alt="..." width="300" height="300" style="width:300px height=300px">
        </div>

        <div class="col-1" style="height: 100%"></div>
      </div>

      <div class="row" height="20px">
        <div class="col bg-success">
          <div class="slidecontainer">
            <input type="range" min="0" max="100" value="0" class="slider" id="slider"><br><br>
            <button type="button" class="btn btn-primary" id="generate" onclick="generate()">Generate new pair</button>
          </div>    
        </div>
      </div>

      <div class="row" height=200px>
        <div class="col-3">
          <img id="image_01" class="rounded mx-auto d-block" alt="..." width="200" height="200" style="width:200px height=200px">
        </div>

        <div class="col-3">
          <img id="image_02" class="rounded mx-auto d-block" alt="..." width="200" height="200" style="width:200px height=200px">
        </div>

        <div class="col-3">
          <img id="image_03" class="rounded mx-auto d-block" alt="..." width="200" height="200" style="width:200px height=200px">
        </div>

        <div class="col-3">
            <img id="image_04" class="rounded mx-auto d-block" alt="..." width="200" height="200" style="width:200px height=200px">
        </div>
      </div> 

      <div class="row" height=200px>
        <div class="col-3">
          <img id="image_11" class="rounded mx-auto d-block" alt="..." width="200" height="200" style="width:200px height=200px">
        </div>

        <div class="col-3">
          <img id="image_12" class="rounded mx-auto d-block" alt="..." width="200" height="200" style="width:200px height=200px">
        </div>

        <div class="col-3">
          <img id="image_13" class="rounded mx-auto d-block" alt="..." width="200" height="200" style="width:200px height=200px">
        </div>

        <div class="col-3">
          <img id="image_14" class="rounded mx-auto d-block" alt="..." width="200" height="200" style="width:200px height=200px">
        </div>
      </div> 
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
  </body>

</html>